<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<h1><a th:href="|/hello|">点我跳转到 hello</a></h1>
    <form class="form-signin">
        <img class="mb-4" th:src="@{/static/reply.jpg}" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
        <input type="text" class="form-control" placeholder="用户名" required autofocus>
        <input type="password" class="form-control" placeholder="密码" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
<!--        <p class="mt-5 mb-3 text-muted"><span th:text="${currentYear}" >2018</span> </p>-->
    </form>

</body>
</html>